/* Barra superior */
.app-header {
  position: relative; /* Se establece el contenedor en posición relativa para que los elementos internos puedan ser posicionados de forma absoluta */
  top: 0;
  left: 0;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #0053ac;
  height: 50px; /* Establecer una altura fija para el header */
}

/* Contenedor del título */
.title-container {
  flex-grow: 1; /* Esto permite que el contenedor del título crezca para ocupar el espacio disponible */
  display: flex;
  justify-content: center; /* Centra el título */
  align-items: center; /* Centra el título verticalmente */
  position: absolute; /* Permite que el contenedor del título esté centrado independientemente */
  left: 0;
  right: 0;
  
}

/* Título */
.title {
  margin: 0;
}

/* Menú hamburguesa */
/* Estilos para el botón de hamburguesa */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 1002; /* Asegúrate de que esté encima del contenido */
}

.bar {
  background-color: #f0f0f0;
  height: 5px;
  width: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.bar.open:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.side-menu {
  position: absolute;
  top: 0;
  left: -100%; /* Inicialmente fuera de la pantalla */
  width: 25%;
  height: 100%;
  background-color: #0353a8;
  color: white;
  transition: left 0.3s ease; /* Animación para deslizar desde la izquierda */
  padding: 20px;
  padding-top: 50px;
  z-index: 1001;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}

.side-menu.open {
  left: 0; /* Cuando se abre el menú, se mueve a la posición 0 */
  position: fixed;
}

.side-menu nav ul {
  list-style-type: none;
  padding: 0;
}
.side-menu nav ul li {
  margin: 20px 0;
}

.side-menu nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.close-btn {
  background-color: transparent;
  color: white;
  font-size:30px;
  border: none;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 10px;
  height: 50px;
}

/* Estilo de cada barra del menú hamburguesa */
.hamburger-icon {
  background-color: white;
  height: 5px;
  width: 100%;
  border-radius: 3px;
}

/* Efectos al hacer clic en el menú */
.hamburger-menu:hover .hamburger-icon {
  background-color: #ddd; /* Cambia el color de las barras cuando el usuario pasa el mouse */
}

.user-avatar {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 55px;
  right: 9px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  z-index: 10;
  min-width: 150px;
}

.dropdown-menu::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ddd transparent;
}

.dropdown-menu::after {
  content: '';
  position: absolute;
  top: -8px;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.user-name {
  font-size: 0.9rem;
  margin-bottom: 8px;
  color: #333;
}

.dropdown-button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: #0056b3;
}