.formulario > * {
  margin-bottom: 10px;
}

.custom-quill .ql-editor {
  font-size: var(--editor-font-size, 16px);
  line-height: var(--editor-line-height, 1.5);
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ddd;
  position: relative;
  top: 1px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 8px 10px;
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-bottom: none;
  font-size: 14px;
  line-height: 1.2;
  transition: background-color 0.3s, color 0.3s;
}

.tab:first-child {
  border-radius: 8px 0 0 0;
}

.tab:last-child {
  border-radius: 0 8px 0 0;
}

.tab.active {
  background-color: white;
  color: var(--oscuro);
  font-weight: bold;
  color: var(--oscuro);
}

.tab:not(.active) {
  color: #888;
}

.tab:hover {
  background-color: #eaeaea;
}

.custom-quill {
  border-radius: 0 0 8px 8px;
  margin-top: -1px;
}
