
.custom-quill-editor{
  width: 600px;
}
.custom-quill-editor p {
  margin: 0; /* Opcional: puedes ajustar los márgenes */
  padding: 0; /* Opcional: si quieres remover padding específico */
  line-height: 1 !important;
}
.custom-quill-editor p {
  margin-bottom: 10px; /* Espacio entre los párrafos */
}
.custom-quill-editor br {
  line-height: 1.5; /* Asegurar que los saltos de línea tengan un espaciado adecuado */
}

/* Tamaños de texto */
.ql-size-small {
  font-size: 0.75em;
}

.ql-size-large {
  font-size: 1.5em;
}

.ql-size-huge {
  font-size: 2.5em;
}

.scroll-controls {
  position: fixed; /* Fija la barra al fondo */
  bottom: 0; /* Pegada al borde inferior */
  left: 0; /* Extiende desde el lado izquierdo */
  width: 100%; /* Cubre todo el ancho de la pantalla */
  height: 50px; /* Ajusta la altura según prefieras */
  background-color: #f0f0f0; /* Fondo sólido, ajusta según tu diseño */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
  display: flex; /* Para alinear elementos dentro de la barra */
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  z-index: 1000; /* Asegura que esté por encima del contenido principal */
  border-top: 1px solid #ccc; /* Línea superior como separación */
}

/* Estilo general para la barra de rango */
.scroll-speed-slider {
  width: 200px; /* Ancho predeterminado */
  height: 6px;
  -webkit-appearance: none; /* Quitar estilos predeterminados */
  appearance: none;
  background: #ccc;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.scroll-speed-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--oscuro);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.scroll-speed-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--oscuro);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.scroll-speed-slider {
  touch-action: none; /* Evita que el deslizamiento táctil genere scroll */
}


/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .scroll-speed-slider {
    width: 150px; /* Reducir el ancho para pantallas móviles */
    height: 5px;
  }

  .scroll-speed-slider::-webkit-slider-thumb,
  .scroll-speed-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
  }
  .custom-quill-editor{
    width: 80vw;
  }
}

/* Media query para pantallas muy pequeñas (por ejemplo, < 480px) */
@media (max-width: 480px) {
  .scroll-speed-slider {
    width: 90px; /* Ajuste adicional para pantallas muy pequeñas */
  }

  .scroll-speed-slider::-webkit-slider-thumb,
  .scroll-speed-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
  }
  .custom-quill-editor{
    width: 100%;
    min-width: 95vw;
  }
}